.header {
    position: fixed;
    top: 0;
    width: 100%;
    transition: background-color 0.3s ease;
    background-color: transparent;
  }
  
  .header.transparent {
    background-color: transparent;
  }
  
  .header.solid {
    background-color: var(--light-gray); /* Replace with the actual light gray value */
  }
   
  .owl-carousel .owl-stage-outer{
    overflow: visible;
  }

  .testimonial-owl-carousel .owl-dots{
    text-align: center !important;
    display:flex;
    flex-direction: row;
    margin-top: 68px !important;
    width: calc(100% - 351px) !important;
}

.testimonial-owl-carousel .owl-dot {
    display: inline-block !important;
    width: 100% !important; /* Width of the bar */
    height: 4px !important;  /* Height of the bar */
    background-color: #1c1c1c10 !important;
    margin: 0 !important;
    transition: background-color 0.3s ease !important;
}
.testimonial-owl-carousel .owl-dot.active {
    background-color: linear-gradient(90deg, #16D0FF 6.52%, #9041FF 96.38%) !important; /* Color of the active bar */
}
.testimonial-owl-carousel .owl-dot:hover{
    background-color: linear-gradient(90deg, #16D0FF 6.52%, #9041FF 96.38%) !important; /* Color of the bar on hover */
}