.header {
    position: fixed;
    top: 0;
    width: 100%;
    transition: background-color 0.3s ease;
    background-color: transparent;
  }
  
  .header.transparent {
    background-color: transparent;
  }
  
  .header.solid {
    background-color: var(--light-gray); /* Replace with the actual light gray value */
  }
   
  .owl-carousel .owl-stage-outer{
    overflow: visible;
  }

  .cci-cards .owl-dots, .testimonial-owl-carousel .owl-dots, .fcs-owl-carousel .owl-dots{
    text-align: center !important;
    display:flex;
    flex-direction: row;
    margin-top: 68px !important;
    width: calc(100% - 250px) !important;
}